button {
  width: 100px;
  height: 100px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#canvas {
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.thumbnail {
  width 100px;
  height: auto;
}

