button {
  width: 100px;
  height: 100px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#canvas {
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.thumbnail {
  width 100px;
  height: auto;
}
.remote__buttons__prev,
.remote__buttons__next {
    width: 100px;
    background: #2d2d2d;
    border: 0;
    height: 100px;
    margin: 30px;
    color: aliceblue;
}
.remote__buttons {
    text-align: center;
    background: #232323;
    position: fixed;
    width: 100%;
}

.remote__gallery__items {
   display: flex; 
   flex-flow: row wrap;
   justify-content: space-around;
   background: rgb(35, 35, 35);
   padding-top: 160px;
}

.remote__gallery__items__item {
   margin: 20px;
   width: 200px;
   height: 200px;
   border: 45px solid #2d2d2d;
}
